{% extends 'base.html' %}
{% block content %}
    <h2>This is the offers index</h2>

    <h1>Game offers</h1>
        <div class="row">
            {% for game in game_offers %}
                <div class="card-body">
                    <a href='/games/{{ game.id }}' >
                        <img src="{{ game.product_display_image }}" class="card-img-top"/>
                        <h3 class="card-title">{{ game.name }}</h3>
                    </a>
                    <button type="button" class="btn btn-primary">Add to cart</button>
                </div>
            {% endfor %}
            </div>
    <h1>Console offers</h1>
        <div class="row">
            {% for console in console_offers %}
                <div class="card-body">
                    <a href='/games/{{ console.id }}' >
                        <img src="{{ console.product_display_image }}" class="card-img-top"/>
                        <h3 class="card-title">{{ console.name }}</h3>
                    </a>
                    <button type="button" class="btn btn-primary">Add to cart</button>
                </div>
            {% endfor %}
            </div>

{% endblock %}