{% extends 'base.html' %}
{% block content %}

            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a  class="dropdown-item" href="price">Price</a>
                <div class="dropdown-divider"></div>
                <a  class="dropdown-item" href="/games">A-Z</a>
            </div>

  <div class="container-fluid padding">
    <div class="d-flex flex-row flex-wrap">


        {% for game in games %}
        {% include  'games/single_game.html' with game=game %}
    {% endfor %}
      </div>
  </div>
{% endblock %}
