<div class="d-flex flex-row flex-wrap justify-content-end my-2 btn-group">
  <div class="dropdown dropdown-btn mx-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a  class="dropdown-item" href="{% url "default_view" %}">Turn Off Filter</a>
        <div class="dropdown-divider"></div>
        {% for genre in genres %}
        <a  class="dropdown-item" href="{% url "filter_by_genre" genre.id %}">Genre: {{ genre.name }}</a>
        <div class="dropdown-divider"></div>
        {% endfor %}
        {% for console in consoles %}
            <a  class="dropdown-item" href="{% url "filter_by_console" console.id %}">Console: {{ console.name }}</a>
            <div class="dropdown-divider"></div>
        {% endfor %}
    </div>
  </div>
  <div class="dropdown dropdown-btn mx-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a  class="dropdown-item" href="{% url "game_sort_view" 5 %}">Top Sellers</a>
        <div class="dropdown-divider"></div>
        <a  class="dropdown-item" href="{% url "game_sort_view" 3 %}">Price: Low to High</a>
        <div class="dropdown-divider"></div>
        <a  class="dropdown-item" href="{% url "game_sort_view" 4 %}">Price: High to Low</a>
        <div class="dropdown-divider"></div>
        <a  class="dropdown-item" href="{% url "game_sort_view" 1 %}">Name: A-Z</a>
        <div class="dropdown-divider"></div>
        <a  class="dropdown-item" href="{% url "game_sort_view" 2 %}">Name: Z-A</a>
    </div>
  </div>
</div>
