<div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 padding p-2 text-center justify-content-center">
  <div clas="product-card-img-frame">
    <a href="/{{ product.get_url }}/{{ product.id }}">
      <img class="card-img-top img-fluid rounded mx-auto d-block" src="{{ product.product_display_image }}">
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ product.name }}
      <br>
      {% if product.console_id %}
      <small><b>{{ product.console_id}}</b></small>
      {% endif %}
    </h4>
      <div id="status-{{ product.id }}" class="alert alert-primary add-to-cart-alert" role="alert" style="width: fit-content"></div>
    <p class="product-description text-left">{{ product.description }}</p>
    {% if product.onSale %}
        <p>price {{ product.price }}</p>
        <p>discount = {{ product.discount }}</p>
    {% else %}
        <p>{{ product.price }} kr.</p>
    {% endif %}
    <button class="btn btn-outline-secondary add_to_cart_button" id="{{ product.id }}" >Add to Cart</button>
  </div>
</div>
