{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center">
            <h1>Shipping info</h1>
            <hr class="light">
            <br>

        </div>
        <div class="col-6 text-center">
            <h1>Cart</h1>
            <hr class="light">
            <br>
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form >
                        {% for product in products %}
                            <tr>

                                <th>
                                    <h4 class="card-title">{{ product.name }}</h4>
                                </th>
                                <th>
                                    <h4>{{ product.quantity }}</h4>
                                </th>
                                <th>
                                    <h4>{{ product.price }}</h4>
                                </th>
                            </tr>
                        {% endfor %}
                    </form>
                    <tr>
                        <th scope="row">
                        </th>
                        <th>
                        </th>
                        <th>
                            <h4>Total: {{ price_sum }}kr.</h4>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
