{% extends 'base.html' %}
{% block content %}
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <h2>My profile</h2>
        <br>
        {% for key, value in info_dict.items %}
            {%  if key == "Profile image" %}
                {%  if value != None %}
                    <img class="rounded-circle" src={{ value }}>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <br>
        <form>
        {% csrf_token %}
            <fieldset disabled>
                {% for key, value in info_dict.items %}
                    {%  if key != "Profile image" %}
                        <label for="disabledTextInput">{{ key }}:</label>
                        {%  if value != None %}
                            <input type="text" id="disabledTextInput" class="form-control" placeholder={{ value }}>
                        {% else %}
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="">
                        {% endif %}
                        <br>
                        {% endif %}
                {% endfor %}
            </fieldset>
        </form>
        <br>
        <a class="btn btn-primary" href="profile/edit">Edit profile</a>
        <a class="btn btn-primary" href="profile/"></a>
    </div>
    <br>
{% endblock %}

