{% extends 'base.html' %}
{% block content %}
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <h2>Update my shipping information</h2>
        <br>
        <form class="form-group" method="post">
            {% csrf_token %}
            <fieldset>

                {% for field in shipping_form %}
                    <label> {{ field.label_tag }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                      <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}

            </fieldset>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
        <br>
    </div>
    <br>
{% endblock %}