{% extends 'base.html' %}
{% block content %}
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <h2>Update my profile</h2>
        <br>
        {% for field in profile_form %}
            {% if field.label == 'Profile image' %}
                {% if field.value != None %}
                    <img class="rounded-circle" src={{ field.value }}>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <br>
        <form class="form-group" method="post">
            {% csrf_token %}
            <fieldset>

                {% for field in user_form %}
                    <label> {{ field.label_tag }}</label>
                    {% if field.label == 'Email address' %}
                        <input type="email" class="form-control is-valid" {{ field }}
                        <br>
                    {% else %}
                        <input type="text" class="form-control" {{ field }}
                        <br>
                    {% endif %}
                {% endfor %}

                {% for field in profile_form %}
                    <label> {{ field.label }}</label>
                    {% if field.label == 'Postcode' %}
                        <input type="number" class="form-control is-valid" {{ field }}
                    {% elif field.label == 'Profile image' %}
                        <input type="url" class="form-control is-valid" {{ field }}
                        <small class="form-text text-muted">Insert image as a URL</small>
                    {% else %}
                        <input type="text" class="form-control" {{ field }}
                    {% endif %}
                    <br>
                {% endfor %}

            </fieldset>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
        <br>
    </div>
    <br>
{% endblock %}